
.item.finished{
    background:black;
    color:white;
    text-decoration: line-through;
}

.item{
    background:white;
    margin:0 20%;
    
}

.todo-area{
    border:1px solid #eee;
    /* box-shadow:#ccc; */
    width:350px;
    margin:0 20%;
    background:grey;
    
}

button{
    background:salmon;
    color:white;
    margin-left:20px;
}